<?xml version="1.0"?>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Dictionary analysis report</title>
		<style type="text/css">
		<!--
			body {
				font-family: "Lucida Grande", verdana, arial, sans-serif;
			}
			h1, h2 {
				font-family: arial, sans-serif;
				text-align:center;
				color:navy;
			}
			table {
				margin: auto;
				width:70%;
			}
			td.f {
				text-align: right;
			}
		// -->
		</style>
	</head>
	<body>
		<header>
			<h1>Rapport d'analyse du dictionnaire</h1>
		</header>
		<section id="signature">
			<h2>Signature</h2> 
			<pre>&lt;volume:1 langue-source=1≠≥1(esp:1) xmlns:d=1≠≥1(http://www-clips.imag.fr/geta/services/dml:1)&gt;
  &lt;article:10 id=10≠9≥10(esp.boda.1:1,esp.bombero.1:1,esp.colilla.1:1,esp.comer.1:1,esp.encontrar.1:1,esp.escritorio.1:1,esp.llevar.1:1,esp.quebrar.1:1,esp.reloj.1:1,esp.tío.1:1)&gt;
    &lt;forme:10&gt;
      &lt;vedette:10&gt;chars:6.3;words:1;10≠9≥10(boda:1,bombero:1,colilla:1,comer:1,encontrar:1,escritorio:1,llevar:1,quebrar:1,reloj:1,tío:1)
      &lt;classe-gram:10&gt;chars:3.8;words:1;6≠5≥10(n.m.:2,nom:4,verbe:1,v.i.:1,v.pr.:1,v.t.:1)
    &lt;sémantique:10&gt;
      &lt;sens:11&gt;
        &lt;séance:11&gt;
        &lt;définition:11&gt;chars:32.8;words:6;11≠6≥11(Arruinarse una empresa o un negocio.:1,Casamiento y fiesta con que se celebra.:1,comer alguna cosa:1,durée:1,Estar en determinado lugar.:1,Indica la hora.:1,Mueble para guardar papeles que:1,Persona.:1,Persona encargada de extinguir incendios y auxiliar en otro tipo de siniestros.:1,Respecto de una persona, hermano de su padre o madre.:1,Resto del cigarro que se queda sin fumar y se tira.:1)
        &lt;traduction:11 lang=1≠10≥11(fra:11)&gt;
          &lt;texte-traduction:11&gt;chars:7.4;words:1;11≠6≥11(bureau:1,faire:1,faire faillite:1,horloge:1,manger:1,mariage:1,mec, m:1,mégot:1,oncle, m:1,pompier:1,se trouver:1)
          &lt;gram-traduction:11&gt;chars:3.8;words:1;6≠6≥10(n.f.:1,n.m.:2,nom:4,verbe:1,v.pr.:1,v.t.:1)
        &lt;exemples:11&gt;
          &lt;exemple:11&gt;
            &lt;texte-exemple:11 lang=1≠10≥11(esp:11)&gt;chars:31.0;words:6;11≠4≥11(Ahora se encuentra en Caracas.:1,Como dos manzanas verdes.:1,El Carrefour City de Chambéry había quebrado.:1,generalmente:1,He fumado fuera y he dejado muchas colillas por el suelo.:1,Llevo un año estudiando breton.:1,¡Mira este tío!:1,Mi reloj se quebró ayer.:1,Mi tio Bernard es bombero a Grenoble.:1,Mi tio Bernard vive en Doula.:1,No puedo recordar mi noche de bodas.:1)
            &lt;traduction-exemple:11 lang=1≠10≥11(fra:11)&gt;chars:17.8;words:4;9≠5≥10(&quot;:2,Cela fait un an que j:1,est cassée hier.:1,étudie le breton.:1,Il se trouve maintenant à Caracas.:1,Je mange deux pommes reinette.:1,Ma montre s:1,Mon oncle Bernard vit à Douala.:1,Regarde ce mec !:1)
            &lt;source:11&gt;
      &lt;expressions:10&gt;
    &lt;remarques:10&gt;chars:14.0;words:3;3≠≥3(":1,la empresa quebró.:1,tiene una tapa para que:1)
</pre>
		</section>		<section id="elementsArray">
			<h2>Tableau des éléments</h2>
				<table>
					<thead>
						<tr><th>Nom</th><th>Fréquence</th></tr>
					</thead>
					<tbody>						<tr><td>article</td><td class='f'>10</td></tr>
						<tr><td>classe-gram</td><td class='f'>10</td></tr>
						<tr><td>définition</td><td class='f'>11</td></tr>
						<tr><td>exemple</td><td class='f'>11</td></tr>
						<tr><td>exemples</td><td class='f'>11</td></tr>
						<tr><td>expressions</td><td class='f'>10</td></tr>
						<tr><td>forme</td><td class='f'>10</td></tr>
						<tr><td>gram-traduction</td><td class='f'>11</td></tr>
						<tr><td>remarques</td><td class='f'>10</td></tr>
						<tr><td>sens</td><td class='f'>11</td></tr>
						<tr><td>source</td><td class='f'>11</td></tr>
						<tr><td>séance</td><td class='f'>11</td></tr>
						<tr><td>sémantique</td><td class='f'>10</td></tr>
						<tr><td>texte-exemple</td><td class='f'>11</td></tr>
						<tr><td>texte-traduction</td><td class='f'>11</td></tr>
						<tr><td>traduction</td><td class='f'>11</td></tr>
						<tr><td>traduction-exemple</td><td class='f'>11</td></tr>
						<tr><td>vedette</td><td class='f'>10</td></tr>
						<tr><td>volume</td><td class='f'>1</td></tr>
					</tbody>
				</table>
		</section>
		<section id="CDMElements">
			<h2>Tableau des éléments CDM</h2>
			<table><thead><th>Nom</th><th>XPath</th></thead>
				<tbody>
						<tr><td>cdm-volume</td><td>/volume</td></tr>
			<tr><td>cdm-entry</td><td>/volume/article</td></tr>
			<tr><td>cdm-entry-id</td><td>/volume/article/@id</td></tr>
			<tr><td>cdm-headword</td><td>/volume/article/forme/vedette</td></tr>
			<tr><td>cdm-pronunciation</td><td>/volume/article/forme/classe-gram</td></tr>
			<tr><td>cdm-pos</td><td>/volume/article/sémantique/sens/traduction/gram-traduction</td></tr>
			<tr><td>cdm-definition</td><td>/volume/article/sémantique/sens/définition</td></tr>
			<tr><td>cdm-sense-block</td><td>/volume/article/sémantique</td></tr>
			<tr><td>cdm-sense</td><td>/volume/article/sémantique/sens</td></tr>
			<tr><td>cdm-example-block</td><td>/volume/article/sémantique/sens/exemples/exemple</td></tr>
			<tr><td>cdm-example</td><td>/volume/article/sémantique/sens/exemples/exemple/texte-exemple</td></tr>
				</tbody>
			</table>
		</section>
	</body>
<volume-metadata encoding="UTF-8" hwnumber="10"
	xmlns="http://www-clips.imag.fr/geta/services/dml" 
	xmlns:d="http://www-clips.imag.fr/geta/services/dml">
			<cdm-elements>
			<cdm-volume xpath='/volume' />
			<cdm-entry xpath='/volume/article' />
			<cdm-entry-id xpath='/volume/article/@id' />
			<cdm-headword xpath='/volume/article/forme/vedette/text()' />
			<cdm-pronunciation xpath='/volume/article/forme/classe-gram/text()' />
			<cdm-pos xpath='/volume/article/sémantique/sens/traduction/gram-traduction/text()' />
			<cdm-definition xpath='/volume/article/sémantique/sens/définition/text()' />
			<cdm-sense-block xpath='/volume/article/sémantique' />
			<cdm-sense xpath='/volume/article/sémantique/sens' />
			<cdm-example-block xpath='/volume/article/sémantique/sens/exemples/exemple' d:lang='' />
			<cdm-example xpath='/volume/article/sémantique/sens/exemples/exemple/texte-exemple/text()' d:lang='qaa' />
	</cdm-elements>
</volume-metadata>
<template-entry>
<volume langue-source="esp" xmlns:d="http://www-clips.imag.fr/geta/services/dml">
  <article id="">
    <forme>
      <vedette></vedette>
      <classe-gram></classe-gram>
    </forme>
    <sémantique>
      <sens>
        <séance></séance>
        <définition></définition>
        <traduction lang="fra">
          <texte-traduction></texte-traduction>
          <gram-traduction></gram-traduction>
        </traduction>
        <exemples>
          <exemple>
            <texte-exemple lang="esp"></texte-exemple>
            <traduction-exemple lang="fra"></traduction-exemple>
            <source></source>
          </exemple>
        </exemples>
      </sens>
      <expressions></expressions>
    </sémantique>
    <remarques></remarques>
  </article>
</volume>
</template-entry>

</html>